<div class="container text-center">
	<div class="row">
		<% if current_user && current_user.school.name == "none" %>
			<h2>You tried to sign in with a different Google Account - please use your school email.</h2>
		<% end %>
	</div>

	<div class="row">
		<%= image_tag("homepage.gif", size:"600x400") %>
	</div>

	<div class="row">
		<br><%= link_to 'Sign in with Law School Account', signin_path, class: "btn btn-lg btn-primary" %><br><br>
	</div>
	<div class="row">
				<br><br><span style="font-size:2em">See Schedule and Final Conflicts</span>
				<br><br><span style="font-size:2em">Data Updated Every 10 Minutes</span>
				<br><br><span style="font-size:2em">Sends Links to Books for Each Class.</span>
	</div>

	<div class="row">
		<br><br><i><span style="font-size:2em">"Your website has saved my sanity."</span><i>
		<br><br><i><span style="font-size:2em">"It saves so much time and makes registration infinitely easier!!"</span><i>
	</div>

	<div class="row">
		<% if @users > 50 %>
					<br><br><span style="font-size:2em"><%= @users %> people are using it already. </span>
		<% end %>
	</div>
	<div class="row">
		<% if @schedules > 50 %>
					<br><br><span style="font-size:2em">They've created <%= @schedules %> Schedules. </span>
		<% end %>
	</div>

	<div class="row">
		<br><br><br><br>
	</div>
	<div class="row">
		<%= link_to 'Privacy Policy', privacy_path %>
	</div>

</div>
