<div class="col-md-12 schedule">
	<h2> 
		<% if schedule.name %>
			<%= link_to schedule.name.to_s, edit_schedule_path(schedule) %>
		<% else %>
			<%= link_to 'Unnamed', edit_schedule_path(schedule) %>
		<% end %>		
	</h2>


	<% schedule.courses.each do |course| %>
		<div class="col-md-12 schedule_line_item">
			<span class="course_name"><%= course.crn %> <%= course.gwid %>-<%= course.section %> <%= course.course_name %></span>, <span class="prof_name"><%= course.professor %></span>
			<% if course.final_date %>
				Final: <%= course.final_date %> at <%= course.final_time %>
			<% end %>   
		</div>
	<% end %>

  <%= link_to "View", root_url( :schedule => schedule ) %>

	Created <%= time_ago_in_words(schedule.created_at)%> ago.
	<%= link_to 'Delete', schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>