<div class="col-md-12 schedule">
	<h2><%= schedule.name.to_s %></h2>
	Created <%= time_ago_in_words(schedule.created_at)%> ago.
	<%= link_to 'Edit', edit_schedule_path(schedule) %>
	<% schedule.courses.each do |course| %>
		<div class="col-md-12 schedule_line_item">
			<span class="course_name"><%= course.course_name %></span>, <span class="prof_name"><%= course.professor %></span>  
			
		</div>
		
	<% end %>
</div>