
<div class="container">
	<div class="row text-center">
		<h1>Subscriptions</h1>
	</div>
	<div class="row">
		<div class="col-md-3">
			<p>You'll know when someone posts a used book that matches these courses.</p>
			<%= link_to 'Back to Schedules', schedules_path %>

		</div>
		<div class="col-md-8">
			<%= form_tag("/subscriptions", method: "post") do %>
			<%= hidden_field_tag "subscriptions[course_ids][]", nil %>
				<% @allcourses.each do |course| %> 
					<div class="row">
						<div class="col-md-8">
							<div class="inline-checkbox">
									<%= check_box_tag "subscriptions[course_ids][]", course.id, @subscriptions.include?(course.id), id: dom_id(course) %> 
				      				<%= label_tag dom_id(course), course.course_name %> <%=  course.professor.to_s %>
							</div>
						</div>
					</div>
				<% end %>
			<%= submit_tag("Update") %>
			<% end %>
		</div>
	</div>
</div>