<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Here's Your Booklist With Links</title>
  <%= render partial: 'emailstylesheet' %>
</head>

<body>

<div id="email_container">
  <div class="body_table">
  <table>
    <tr>
      <%= render 'layouts/email_header' %>
    </tr>
    <tr>
      Hey <%= @user.name %>,<br><br>
      Here are the links to all of the books for schedules you created on schedulegw. The school updates the booklist every few days,
      so if a class doesn't have any books listed yet just check again later. <br>
      <br>
      If the classes you actually registered for aren't listed, just <%= link_to "make a new schedule", root_url %>.
    </tr>
    <tr>
      <div id="schedules_table">
        <% @user.schedules.each do |schedule| %>
          <%= render partial: "usermailer/schedule_email_safe", locals: { schedule: schedule } %>
        <% end %>
      </div>
    </tr>
    <tr>
      <br>
      <br>
      As always, the school's information is the canonical data, but we double-check almost every single thing by hand.
      If anyone <a href='https://goo.gl/forms/ZHdgP7S0cu' target='_blank'>reports an error</a> it gets fixed almost instantly.
      <br>
      <br>
      Rock on, <br>
      The ScheduleGW Team
    </tr>
    <tr>
      <%= render 'layouts/email_footer' %>
    </tr>
  </table>
</div>
</div>

</body>
