<%= form_for(@course) do |f| %>

	<div class="row">
		<% if @course.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@course.errors.count, "error") %> prohibited this item from being saved:</h2>

			  <ul>
			  <% @course.errors.full_messages.each do |message| %>
			    <li><%= message %></li>
			  <% end %>
			  </ul>
			</div>
		<% end %>
	</div>

	<div class="row">
		<div class="actions">
			<%= link_to "All Courses", courses_path, class: 'btn btn-info' %>
				<%= f.button "Save and previous", name: 'previous_record', value: true, class: 'btn btn-success' %>
				<%= button_tag(type: 'submit', class: "btn btn-success") do %>
					<i class="glyphicon glyphicon-floppy-disk"></i> Save and Back
				<% end %>
				<%= f.button "Save and next", name: 'next_record', value: true, class: 'btn btn-success' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="field">
			    <%= f.label :crn %><br>
			    <%= f.text_field :crn %>
			</div>

			<div class="field">
			    <%= f.label :gwid %><br>
			    <%= f.text_field :gwid %>
			</div>

			<div class="field">
			    <%= f.label :section %><br>
			    <%= f.text_field :section %>
			</div>

			<div class="field">
			    <%= f.label :course_name %><br>
			    <%= f.text_area :course_name, cols:40, rows:3 %>
			</div>

			<div class="field">
			    <%= f.label :professor %><br>
			    <%= f.text_field :professor %>
			</div>

			<div class="field">
			    <%= f.label :final_date %><br>
			    <%= f.select(:final_date, School.second.final_date_options << [nil]) %>
			</div>

			<div class="field">
			    <%= f.label :final_time %><br>
			    <%= f.select(:final_time, School.second.final_time_options << [nil]) %>
			</div>

		<div class="field">
		    <%= f.label :hours %><br>
		    <%= f.text_field :hours %>
		</div>

		<div class="field">
		    <%= f.label :days %><br>
		    <%= f.text_field :days %>
		</div>

		<div class="field">
		    <%= f.label :llm_only, "LLM Only? True or False or blank" %><br>
		    <%= f.text_field :llm_only %>
		</div>

		<div class="field">
		    <%= f.label :jd_only, "JD Only? True or False or blank" %><br>
		    <%= f.text_field :jd_only %>
		</div>

		<div class="field">
		    <%= f.label :course_name_2, "Secondary/Second Line Course Name" %><br>
		    <%= f.text_field :course_name_2 %>
		</div>

		<div class="field">
		    <%= f.label :alt_schedule %><br>
		    <%= f.text_field :alt_schedule %>
		</div>

		<div class="field">
		    <%= f.label :additional_info %><br>
		    <%= f.text_area :additional_info, cols:40, rows:4 %>
		</div>

		<div class="field">
		    <%= f.label :manual_lock, "Lock Schedule Data?" %><br>
		    <%= f.check_box :manual_lock %><br>
				Checking this box will prevent the scraper from editing data for this entry related
				to the schedule, professor etc. It will not affect the booklist scraper from changing
				which books are associated with the course.
		</div>
	</div>

		<div class="col-md-8">
			<h2> Books For this Class: </h2>
			<div class="field booklist_div">
				<% @course.listbooks.each do |book| %>
					<%= render partial: "layouts/listbook", locals: { listbook: book, course: @course} %>
				<% end %>
			</div>

			<div class="manual_booklist_div">
				<div class="field">
					Pinned ISBNs: <br>
					<% @pinned_books.each do |pinned_book| %>
						<%= render partial: "layouts/listbook", locals: { listbook: pinned_book } %>
					<% end %>
				</div>
				<div class="field">
					<%= form_tag course_path, remote: true, method: :patch do %>
						<div class="col-md-8">
							<%= text_field_tag :add_pinned_isbn, nil, :class => 'form-control' %>
						</div>
						<div class="col-md-4">
							<%= submit_tag "Add New Pinned ISBN", :name => nil, :class => "btn btn-success" %>
						</div>
					<% end %>
					<div id="ajax_message"></div>
				</div>
				<div class="field">
					ISBNs must be in the format: ["123", "1235"]
				</div>
				<div class="field">
					<%= f.check_box :booklist_locked %>
					<%= f.label :booklist_locked, "Lock Booklist data?" %><br>
					Checking this box will prevent the booklist scraper from changing the records.
				</div>

				<div class="field">
						<%= f.label :wrong_isbn, "REJECTED/WRONG ISBNs" %><br>
						<%= f.text_area :wrong_isbn, cols:40, rows:5 %><br>
						In this box, put the ISBNs that the scraper found but are incorrect. This will prevent it from adding them
						again the next time it scrapes.
				</div>
				<div class="field">
				    <%= f.label :isbn, "Combined ISBNs" %><br>
				    <%= f.text_area :isbn, cols:40, rows:5 %>
				</div>
			</div>
	</div>

<% end %>
