<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="row" align="center">
        Final Schedule Visualizer
      </div>
      <div class="row">
        <div class="col-md-2">
          corner
        </div>
        <% @final_times.each do |time| %>
        <div class="col-md-3">
          <%= time %>
        </div>
        <% end %>
      </div>
      <% @final_dates.each_with_index do |date, dateindex| %>
        <div class="row">
          <div class="col-md-2"><%= date %></div>
          <% @final_times.each_with_index do |time, timeindex| %> 
          <div class="col-md-3">
            <ul>
              <% instance_variable_get("@grid#{dateindex}#{timeindex}").each do |course| %>
              <li><%= link_to "#{course.gwid}-#{course.section} #{course.course_name}, #{course.professor}", edit_course_path(course) %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      Orphans (<%= @orphans.count %>)
      <ul>
        <% @orphans.each do |orphan| %>
        <li><%= link_to "#{orphan.course_name}, #{orphan.professor}", edit_course_path(orphan) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>