<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>All Courses (<%= @courses.count %>)</h2>
    </div>
    <div class="col-md-6">
      <h2>Stats</h2>
    </div>
    <div class="col-md-2">
      <h2>Links</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ol class="items">
        <%= render @courses %>
      </ol>
    </div>
    <div class="col-md-6">
      <div class="row">
        <ul>
          <% @stats.each do |stat| %>
            <li><%= stat[:name] %> : <%= stat[:value] %></li>
          <% end %>
        </ul>
      </div>
      <div class="row">
        <h2>20 Most Recent Users:</h2>
      </div>
      <div class="row">
        <ul>
          <% @new_users.each do |user| %>
            <li><%= user[:name] %> : <%= user[:email] %></li>
          <% end %>
        </ul>
      </div>
      <% if @booklistsuggestions.count > 0 %>
        <div class="row">
          <h2>Submitted Booklist Edit Requests</h2>
        </div>
        <div class="row">
            <% @booklistsuggestions.each do |suggestion| %>
              <%= render partial: "addtobooklist/suggestion", locals: { suggestion: suggestion } %>
            <% end %>
        </div>
      <% end %>
      <% if @most_popular.count > 0 %>
        <div class="row">
          <h2>Most Popular Courses</h2>
        </div>
        <div class="row">
            <% @most_popular.each do |course| %>
              <%= "#{course.gwid}-#{course.section} #{course.course_name} (#{course.schedule_count})" %><br>
            <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <ul>
        <li><%= link_to 'Amazon Associates', 'https://affiliate-program.amazon.com/gp/associates/network/main.html' %></li>
        <li><%= link_to 'Google Feedback', 'https://docs.google.com/spreadsheets/d/1gqJ2UqTa7dE24SVayQbg4IJG0rtYT42B_V2cOtHMWyM/edit#gid=1060046951' %></li>
        <li><%= link_to 'Analytics', 'https://www.google.com/analytics/web/?authuser=0#realtime/rt-overview/a55495147w88688654p92122382/' %></li>
        <li><%= link_to 'GWU Finals Visualizer', courses_gwufinals_path %></li>
        <li><%= link_to 'Add New Book to Course', addtobooklist_new_path %></li>
      </ul>
      <h2>Controls</h2>
      <h4>Do these in Order</h4>
      <%= link_to('3. Scrape Booklist Now', scrape_path(:source => 'booklist'),
              method: "post", remote: true, data: { confirm: 'Are you fucking sure?'}, class: 'btn btn-success') %>
      <br>
      Booklist last Checked: <%= "#{time_ago_in_words(current_user.school.booklist_last_checked.getlocal)} ago." %><br>
      Booklist last Changed: <%= "#{time_ago_in_words(current_user.school.booklist_last_scraped.getlocal)} ago." %><br>
      Be patient waiting for a scrape to finish - it takes 2-3 seconds total.
    </div>
  </div>
</div>
