<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if @most_popular.count > 0 %>
        <div class="row">
          <h2 id="popular_courses_header">Most Popular Courses</h2>
        </div>
        <div class="row" id="popular_courses_div" style="display:none">
            <% @most_popular.each do |course| %>
              <%= link_to "#{course.gwid}-#{course.section} #{course.course_name} (#{course.schedule_count})", edit_course_path(course.id) %><br>
            <% end %>
        </div>
      <% end %>
      <h2 id="all_courses_header">All Courses (<%= @courses.count %>)</h2>
      <ol class="courses" id="all_courses_div" style="display:none">
        <%= render @courses %>
      </ol>
    </div>
    <div class="col-md-6">
      <h2>Stats</h2>
      <div class="row">
        <ul>
          <% @stats.each do |stat| %>
            <li><%= stat[:name] %> : <%= stat[:value] %></li>
          <% end %>
        </ul>
      </div>
      <div class="row">
        <h2>20 Most Recent Users:</h2>
      </div>
      <div class="row">
        <ul>
          <% @new_users.each do |user| %>
            <li><%= user[:name] %> : <%= user[:email] %></li>
          <% end %>
        </ul>
      </div>
      <% if @booklistsuggestions.count > 0 %>
        <div class="row">
          <h2>Submitted Booklist Edit Requests</h2>
        </div>
        <div class="row">
            <% @booklistsuggestions.each do |suggestion| %>
              <%= render partial: "addtobooklist/suggestion", locals: { suggestion: suggestion } %>
            <% end %>
        </div>
      <% end %>
      <% if @unresolved_feedback.count > 0 %>
        <div class="row">
          <h2>Feedback</h2>
        </div>
        <div class="row">
            <% @unresolved_feedback.each do |feedback| %>
              <%= render partial: "feedback/feedback", locals: { feedback: feedback } %>
            <% end %>
        </div>
      <% end %>

    </div>
    <div class="col-md-2">
      <h2>Links</h2>
      <ul>
        <li><%= link_to 'Amazon Associates', 'https://affiliate-program.amazon.com/gp/associates/network/main.html' %></li>
        <li><%= link_to 'Google Feedback', 'https://docs.google.com/spreadsheets/d/1gqJ2UqTa7dE24SVayQbg4IJG0rtYT42B_V2cOtHMWyM/edit#gid=1060046951' %></li>
        <li><%= link_to 'Analytics', 'https://www.google.com/analytics/web/?authuser=0#realtime/rt-overview/a55495147w88688654p92122382/' %></li>
        <li><%= link_to 'GWU Finals Visualizer', courses_gwufinals_path %></li>
        <li><%= link_to 'Add New Book to Course', addtobooklist_new_path %></li>
      </ul>
      <h2>Controls</h2>
      <h4>Do these in Order</h4>
      <%= link_to('3. Scrape Booklist Now', scrape_path(:source => 'booklist'),
              method: "post", remote: true, data: { confirm: 'Are you sure?'}, class: 'btn btn-success') %>
      <br>
      Booklist last Checked: <%= "#{time_ago_in_words(current_user.school.booklist_last_checked.getlocal)} ago." %><br>
      Booklist last Changed: <%= "#{time_ago_in_words(current_user.school.booklist_last_scraped.getlocal)} ago." %><br>
      Be patient waiting for a scrape to finish - it takes 2-3 seconds total.
      <h2>Sending Emails</h2>
      <%= link_to('First Booklist Email', send_email_path(:round => 1),
              method: "post", remote: true, data: { confirm: 'Are you sure? This will email everyone.'}, class: 'btn btn-warning') %>
      <br>
      <br>
      <%= link_to('Second Booklist Email', send_email_path(:round => 2),
              method: "post", remote: true, data: { confirm: 'Are you sure? This will email everyone.'}, class: 'btn btn-warning') %>
      <br>
      <br>
      <%= link_to('Final Booklist Email', send_email_path(:round => 3),
              method: "post", remote: true, data: { confirm: 'Are you sure? This will email everyone.'}, class: 'btn btn-warning') %>
    </div>
  </div>
</div>
